<section class="section section-bg--five-b">
    <div class="row">
        <div class="small-12 columns">
            <h2>
                <img src="{{site.theme.link}}/images/logos/by-office-depot.svg" data-fallback="images/logos/by-office-depot-b.png" width="315" height="35" alt="By Office Depot" >
            </h2>

            {{post.get_field('footer_content')}}

            <p class="type-right">
                <img src="{{site.theme.link}}/images/logos/vital-communications-c.png" alt="Vital Communications">
            </p>
        </div>
    </div>
</section>