{% extends "base.twig" %}

{% block content %}
    <section class="section">
        <div class="row">
            <h1><strong>404</strong> - Page not found</h1>
	        <p>Sorry, we couldn't find what you're looking for.</p>
        </div>
    </section>
{% endblock %}