{% block html_head_container %}
    {% include 'html-header.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
    {% block header %}
        {% include 'header.twig' %}
    {% endblock %}

    <!-- Main -->
    <main role="main">
        {% if title %}
            <h1 class="hidden">{{title}}</h1>
        {% endif %}

        <div class="wrapper {{sidebar_class}}">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </div>
    </main>
    <!-- // Main -->

    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
</body>
</html>
